{
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "node": false
  },
  "rules": {
    "strict": 0,
    "quotes": [2, "single"],
    "eqeqeq": [2],
    "indent": [2, 2],
    "max-len": [2, 80, 4]
  },
  "globals": {
    "require": false
  }
}