/*

Configuration of Javascript linting. Extends from Airbnb's comprehensive
JS Style guide. Read all about it:

https://github.com/airbnb/javascript

 */
{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "node": true
  },
  "rules": {
    "no-var": [0],
    "max-len": [2, 80, 4],
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "handle-callback-err": [0],

    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2
  },
  "plugins": [
    "react"
  ]
}
