
.link {
  text-decoration: none;
  color: inherit;
  overflow: hidden;

  @media ($SCREEN_SMALL) {
    transition: max-height 0.3s ease;
    max-height: 40px;
  }
}

.link:global(.active) {
  border-right: 3px solid $BORDER_COLOR;
}

.linkBox {
  width: 100px;
}

.dropdownToggle {
  display: none;

  @media ($SCREEN_SMALL) {
    display: flex;
  }
}

.collapse {
  @media ($SCREEN_SMALL) {
    max-height: 0;
  }
}