.base {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $BACKGROUND;
  font-size: $FONT_BASE;
}

.base :global * {
  box-sizing: border-box;
}